MONGODB_CONNECTION_STRING=mongodb+srv://minhhoang123513_db_user:minhhoang1234@ecommercial.p3udtay.mongodb.net/
PORT=3000
NODE_ENV=development

# VNPay Configuration  
VNPAY_TMN_CODE=R44LG29E
VNPAY_SECRET_KEY=EDY6RULT0QS7V5OJBB6CD4ATSZUAFQTP
VNPAY_RETURN_URL=http://localhost:3000/api/payments/vnpay/return



# Frontend URLs
FRONTEND_URL=http://localhost:3001
FRONTEND_RETURN_URL=http://localhost:8080/dashboard.html
